<section id="proyectos" class="bg-[#121212] py-24 text-white">
  <div class="container mx-auto px-6 max-w-6xl">

    <h2 class="text-xs tracking-widest uppercase text-gray-500 mb-1" data-aos="fade-right">
      > Portfolio
    </h2>
    <h1 class="text-4xl md:text-5xl font-bold mb-16" data-aos="fade-right">
      Mis Proyectos
    </h1>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">

      <div class="bg-[#1a1a1a] rounded-2xl overflow-hidden shadow-xl border border-gray-800 hover:border-gray-600    
  transition-all duration-300 flex flex-col hover:-translate-y-2" data-aos="fade-up">

        <img
          src="https://private-user-images.githubusercontent.com/142864473/448689002-a4d098a2-c574-44a9-b1f2-fd7bdb504b81.png?jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3ODkzMjY5ODIsIm5iZiI6MTc4OTMyNjY4MiwicGF0aCI6Ii8xNDI4NjQ0NzMvNDQ4Njg5MDAyLWE0ZDA5OGEyLWM1NzQtNDRhOS1iMWYyLWZkN2JkYjUwNGI4MS5wbmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjYwOTEzJTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI2MDkxM1QxOTExMjJaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT01ZDg3YjAyMTM1OTk5MDFkMDRmNmIzOWQ4Y2E2YWNlMDFjOTk5M2ZmNzIwNDYxNzJiZjcxMDBiYWQ0NzFhNDVkJlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCZyZXNwb25zZS1jb250ZW50LXR5cGU9aW1hZ2UlMkZwbmcifQ.kbhMn8M6jyEZWpY2qb9GBb7zZw0yLg6fmTtrM9npnW0"
          draggable="false" style="pointer-events: none; user-select: none;" alt="Proyecto Mockup"
          class="w-full h-48 object-cover opacity-80 hover:opacity-100 transition-opacity">

        <div class="p-6 flex flex-col flex-grow">
          <h3 class="text-2xl font-bold mb-2">Ferremas</h3>
          <p class="text-gray-400 text-sm mb-6 flex-grow">Una plataforma web que se centra en la optimización de tiempo
            y la gestión de productos para una ferretería.
          </p>

          <div class="flex flex-wrap gap-2 mb-6">
            <span class="px-3 py-1 text-xs font-semibold bg-gray-900 border border-gray-700 rounded-                 
  full">Django</span>
            <span class="px-3 py-1 text-xs font-semibold bg-gray-900 border border-gray-700 rounded-                 
  full">Bootstrap</span>
            <span class="px-3 py-1 text-xs font-semibold bg-gray-900 border border-gray-700 rounded-                 
  full">MySQL</span>
          </div>

          <div class="flex gap-4">
            <a href="https://github.com/gl0w-w/Ferremas" class="flex-1 text-center py-2.5 bg-gray-800 text-white text-sm font-bold rounded-lg         
  hover:bg-gray-700 transition-colors">
              <i class="fa-brands fa-github mr-2"></i> Código &rarr;
            </a>
          </div>
        </div>

      </div>


      <div class="bg-[#1a1a1a] rounded-2xl overflow-hidden shadow-xl border border-gray-800 hover:border-gray-600    
  transition-all duration-500 flex flex-col hover:-translate-y-2" data-aos="fade-up">

        <img src="https://i.postimg.cc/pVZZJTC3/Sin-nombre.png" draggable="false"
          style="pointer-events: none; user-select: none;" alt="Proyecto Mockup"
          class="w-full h-48 object-cover opacity-80 hover:opacity-100 transition-opacity">

        <div class="p-6 flex flex-col flex-grow">
          <h3 class="text-2xl font-bold mb-2">MïeM</h3>
          <p class="text-gray-400 text-sm mb-6 flex-grow">Una aplicación móvil que te ayuda a dar más visibilidad a tu
            emprendimiento.
          </p>

          <div class="flex flex-wrap gap-2 mb-6">
            <span class="px-3 py-1 text-xs font-semibold bg-gray-900 border border-gray-700 rounded-                 
  full">TypeScript</span>
            <span class="px-3 py-1 text-xs font-semibold bg-gray-900 border border-gray-700 rounded-                 
  full">Angular</span>
            <span class="px-3 py-1 text-xs font-semibold bg-gray-900 border border-gray-700 rounded-                 
  full">Ionic</span>
          </div>

          <div class="flex gap-4">
            <a href="https://github.com/gl0w-w/MieM.git" class="flex-1 text-center py-2.5 bg-gray-800 text-white text-sm font-bold rounded-lg         
  hover:bg-gray-700 transition-colors">
              <i class="fa-brands fa-github mr-2"></i> Código &rarr;
            </a>
          </div>
        </div>

      </div>

      <div class="bg-[#1a1a1a] rounded-2xl overflow-hidden shadow-xl border border-gray-800 hover:border-gray-600    
  transition-all duration-300 flex flex-col hover:-translate-y-2" data-aos="fade-up">

        <img src="https://i.postimg.cc/cr4HshKz/Screenshot.png" draggable="false"
          style="pointer-events: none; user-select: none;" alt="Proyecto Mockup"
          class="w-full h-48 object-cover opacity-80 hover:opacity-100 transition-opacity">

        <div class="p-6 flex flex-col flex-grow">
          <h3 class="text-2xl font-bold mb-2">Mi Portafolio</h3>
          <p class="text-gray-400 text-sm mb-6 flex-grow">Un sitio web de portafolio personal con un diseño moderno y
            adaptable, enfocado en la experiencia del usuario, para presentar mi perfil, mis habilidades, y un poco de
            mis technologías.
          </p>

          <div class="flex flex-wrap gap-2 mb-6">
            <span class="px-3 py-1 text-xs font-semibold bg-gray-900 border border-gray-700 rounded-                 
  full">TailWindCSS</span>
            <span class="px-3 py-1 text-xs font-semibold bg-gray-900 border border-gray-700 rounded-                 
  full">Astro</span>
            <span class="px-3 py-1 text-xs font-semibold bg-gray-900 border border-gray-700 rounded-                 
  full">AOS Scroll</span>
          </div>

          <div class="flex gap-4">
            <a href="https://github.com/gl0w-w/portafolioo.git" class="flex-1 text-center py-2.5 bg-gray-800 text-white text-sm font-bold rounded-lg         
  hover:bg-gray-700 transition-colors">
              <i class="fa-brands fa-github mr-2"></i> Código &rarr;
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>