<section class="bg-[#121212] text-white py-24">
  <div class="container mx-auto px-6 max-w-6xl">
    <hr class="my-6 border-gray-200 dark:border-gray-700" data-aos="fade-up" data-aos-delay="300"/>
    <h2
      class="text-xs tracking-widest uppercase text-gray-500 mb-1"
      data-aos="fade-right"
    > > Conoceme
    </h2>
    <h1 class="text-5xl md:text-6xl font-bold mb-16" data-aos="fade-right">
      Sobre Mí
    </h1>

    <div class="grid grid-cols-1 lg:grid-cols-12 gap-12 lg:gap-16">
      <div class="lg:col-span-5" data-aos="fade-up" data-aos-delay="100">
        <img
          class="object-cover w-full h-[550px] rounded-[2rem] shadow-2xl"
          src="https://i.pinimg.com/1200x/8b/ed/58/8bed583358cca4ad1a34a60513293415.jpg"
          alt="Foto Iván"
        />
      </div>

      <div
        class="lg:col-span-7 flex flex-col justify-center"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <div class="grid grid-cols-1 md:grid-cols-2 gap-10 mb-16">
          <div>
            <h3 class="text-xl font-bold mb-4 pb-4 border-b border-gray-800">
              > ¿Quién Soy?
            </h3>
            <p class="text-gray-400 text-sm leading-relaxed">
              Soy un desarrollador Full Stack con experiencia en el diseño y
              desarrollo de plataformas web utilizando Node.js, JavaScript,
              Astro, TailwindCSS, TypeScript, Django y MySQL. Cuento con
              habilidades para crear API REST, e integrar servicios de terceros.
            </p>
          </div>
          <div>
            <h3 class="text-xl font-bold mb-4 pb-4 border-b border-gray-800">
              > Mi Aporte
            </h3>
            <p class="text-gray-400 text-sm leading-relaxed">
              Me comprometo a ofrecer soluciones eficientes, fáciles de
              administrar y escalables mediante las mejores prácticas de
              desarrollo de software (best software development practices).
            </p>
          </div>
        </div>

        <div>
          <div class="border-l-4 border-white pl-4 mb-8">
            <h3 class="text-xl font-bold">Detalles Personales</h3>
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-y-8 gap-x-6">
            <div>
              <p class="text-xs text-gray-500 uppercase tracking-widest mb-1">
                Nombre
              </p>
              <p class="font-bold text-gray-200">Iván Ignacio Sepulveda Iturrieta</p>
            </div>
            <div>
              <p class="text-xs text-gray-500 uppercase tracking-widest mb-1">
                N° Celular
              </p>
              <p class="font-bold text-gray-200">+56 9 3548 8557</p>
            </div>
            <div>
              <p class="text-xs text-gray-500 uppercase tracking-widest mb-1">
                Educación
              </p>
              <p class="font-bold text-gray-200">Duoc UC Alameda (2023 - actualmente)</p>
            </div>
            <div>
              <p class="text-xs text-gray-500 uppercase tracking-widest mb-1">
                Correo
              </p>
              <a
                class="font-bold text-gray-200"
                >ignaacio.ivann@gmail.com</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
